src/.vs/Raspberry/v17/.suo
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/Raspberry.csproj.nuget.dgspec.json
src/obj/Raspberry.csproj.nuget.g.props
src/obj/Raspberry.csproj.nuget.g.targets
src/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/obj/Debug/net6.0/Raspberry.AssemblyInfo.cs
src/obj/Debug/net6.0/Raspberry.AssemblyInfoInputs.cache
src/obj/Debug/net6.0/Raspberry.assets.cache
src/obj/Debug/net6.0/Raspberry.csproj.AssemblyReference.cache
src/obj/Debug/net6.0/Raspberry.GeneratedMSBuildEditorConfig.editorconfig
src/.vs/Raspberry/DesignTimeBuild/.dtbcache.v2
src/.vs/Raspberry/v17/.futdcache.v1
src/bin/Release/net6.0/Raspberry.deps.json
src/bin/Release/net6.0/Raspberry.dll
src/bin/Release/net6.0/Raspberry.pdb
src/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/obj/Release/net6.0/Raspberry.AssemblyInfo.cs
src/obj/Release/net6.0/Raspberry.AssemblyInfoInputs.cache
src/obj/Release/net6.0/Raspberry.assets.cache
src/obj/Release/net6.0/Raspberry.csproj.AssemblyReference.cache
src/obj/Release/net6.0/Raspberry.csproj.CoreCompileInputs.cache
src/obj/Release/net6.0/Raspberry.csproj.FileListAbsolute.txt
src/obj/Release/net6.0/Raspberry.dll
src/obj/Release/net6.0/Raspberry.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Release/net6.0/Raspberry.pdb
src/obj/Release/net6.0/ref/Raspberry.dll
src/obj/Release/net6.0/refint/Raspberry.dll
